body {
    font-family: 'Open Sans', serif;

    color: #868e96;
}

.aboutmebg{
    background-color: #007000;
    height: 100%;
    color: #fff;
}
#aboutme{
    margin-top: 100px;
}
.oferta{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 0px;
}
.home{
    margin-top: 100px;
}
.ofertaico{
    width: 80%;
}

body{
    overflow: hidden;

}
a:link {
    color: white;
}
.content{
    overflow-y: scroll;
    margin-top: -0px;
    height: 89%;
    margin-right: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
nav{
    margin-left: -30px;
    height: 103px;
    font-size: 25px;
    background-color: #D4D9DB;
    /*background-image: url("../images/bgmenu.png");*/

}

.main{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;

}

.oferta:nth-child(even) {
    background: white;
}

.oferta:nth-child(odd) {
    background: #E0E0E0;
}
#page > div > div > div > div > div > div > img{
    margin-top: 15%;
}
.aboutcent{
    text-align: center;
}
.hidden{
    display: none;
}

#ozonoterapiamore > div > div > h4 {
    background-color: forestgreen;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.aboutcent{
    font-family: 'Rubik', sans-serif;
}
.logo{
    height: 90px;
    width: auto;
    margin-left: -10px;

}
.logov{
    padding: 6px;
    font-size: 50px;
}
.homeinfomain{
    padding-left: 50px;
}
.footer{
    text-align: center;
}
.contact{
    text-align: center;
    padding-top: 70px;
}
#page > div > div > div.col-md-10.row.main > div.content.row.col-md-12 > div.contact.col-md-12 > table > tbody > tr > td > a{
    color: #868e96;
}
.firmname{

}
.contactinfo{
    margin: 0 auto;
}
.footer{
}
#footerhome > div,
#footercontact > div.col-md-12.footer.row{
    position: absolute;
    bottom: 0px;
}
.googlemap{
    position: absolute;
    bottom: 22px;
}
#page > div > div > div.col-md-10.row.main > div.content.row.col-md-12 > div.contact.col-md-12 > table > tbody > tr > td:nth-child(1){
    text-align: right;
    padding-right: 20px;
}
.title{
    font-family: 'Orbitron', sans-serif;
}
#navbarNavAltMarkup{
    width: 100%;
}
.navbar-nav{
    margin: 0 auto;
    font-family: 'Teko', sans-serif;
    font-size: 45px;
}
